{% extends "layouts/admin.jinja" %}
{% block title %}{{ title }} - Manage{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
{% if shares.items|count == 0 %}
<p>
  No shares in this category
</p>
{% else %}
<table class="table table-sm table-hover">
  <tbody>
    {% for share in shares.items %}
    <tr id="share-{{ share.id }}" class="table-{{ share.statusColour }} d-flex">
      <td class="col-9 col-md-10 col-xl-11">
        {% if share.isImage() %}
        <a href="{{ url_for("share.get", image=share.file) }}" target="_blank">
          <img class="img img-fluid img-thumbnail" src="{{ url_for("share.get", image=share.file) }}"/>
        </a>
        {% elif share.isVideo() %}
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" controls>
            <source src="{{ url_for("share.get", image=share.file) }}" />
          </video>
        </div>
        {% endif %}
        <p class="px-1 mt-1 mb-1">
          {{ share.name }} - {{ share.group.name }}
        </p>
        {% if share.comment %}
        <p class="px-1 mt-1 mb-0">
          {{ share.comment }}
        </p>
        {% endif %}
      </td>

      <td class="col-3 col-md-2 col-xl-1">
        <div class="mb-1">
          <a href="{{ url_for('manage.viewShare', id=share.id) }}" class="btn btn-sm btn-block btn-primary" data-toggle="tooltip" data-placement="left" title="View">
            <i class="fas fa-eye"></i>
          </a>
        </div>

        {% if share.featured %}
        <div class="mb-1">
          <form method="POST" action="{{ url_for('manage.unfeatureShare') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <input type="hidden" name="id" value="{{ share.id }}" />
              <button type="submit" class="form-control btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="left" title="Unfeature">
                <i class="fas fa-folder-minus"></i>
              </button>
          </form>
        </div>
        {% endif %}

        {% if hasManage() and share.approved == False %}
        <div class="mb-1">
          <form method="POST" action="{{ url_for('manage.approveShare') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="id" value="{{ share.id }}" />
            <button type="submit" class="form-control btn btn-sm btn-success" data-toggle="tooltip" data-placement="left" title="Approve">
              <i class="fas fa-check"></i>
            </button>
          </form>
        </div>
        {% endif %}

        {% if hasCurate() and share.flagged == False %}
        <div class="mb-1">
          <form method="POST" action="{{ url_for('manage.flagShare') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="id" value="{{ share.id }}" />
            <button type="submit" class="form-control btn btn-sm btn-danger text-white" data-toggle="tooltip" data-placement="left" title="Flag">
              <i class="fas fa-flag"></i>
            </button>
          </form>
        </div>
        {% endif %}

        {% if hasAdmin() %}
        <div class="mb-1">
          <form method="POST" action="{{ url_for('manage.deleteShare') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="id" value="{{ share.id }}" />
            <input type="hidden" name="return" value="{{ request.url }}" />
            <button type="submit" class="form-control btn btn-sm btn-dark" data-toggle="tooltip" data-placement="left" title="Delete">
              <i class="fas fa-times"></i>
            </button>
          </form>
        </div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% from "components/paginate.jinja" import paginate %}
{{ paginate(shares) }}
{% endif %}
{% endblock %}
