{% extends "layouts/page.jinja" %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>Way Out West!</h1>
  </div>
  <div class="col-12 col-md-8">
    <p>On Saturday 25<sup>th</sup> to Sunday 26<sup>th</sup> of July, Cabot are holding a virtual camp for all young people in the District!</p>
    <p>During the weekend each section will have their own programme of activities, and there'll also be some shared events for everybody to join in with - have a look at the <a href="{{ url_for('root.programme') }}" title="The programme for the weekend">camp programme</a> to see what's happening.</p>
    <p>Each section will be representing a different part of the West Country - <strong class="beavers">Cornwall (Beavers)</strong>, <strong class="cubs">Somerset (Cubs)</strong>, <strong class="scouts">Devon (Scouts)</strong> and <strong class="explorers">Bristol (Explorers and Network)</strong> - if you haven't already, make sure you <a href="{{ url_for('root.register') }}">sign up for the camp</a> to receive your section's activity pack and camp badge.</p>
  </div>
  <div class="col-12 col-md-4">
    <div>
      <p>
        BADGE IMAGE
      </p>
    </div>
    <div class="d-xl-none">
      <a class="btn btn-block btn-success" href="{{ url_for('share.new') }}"><i class="fas fa-star pr-2"></i>Share what you're doing</a>
      <a class="btn btn-block btn-danger" href="{{ url_for('root.live') }}"><i class="fas fa-video pr-2"></i>Watch live</a>
      {% if hasGroup() %}
      <a class="btn btn-block btn-info" href="{{ url_for('group.index') }}"><i class="far fa-images pr-1"></i> Group Shares</a>
      {% elif hasLogin() %}
      <a class="btn btn-block btn-info" href="{{ url_for('manage.index') }}"><i class="fas fa-edit"></i> Manage</a>
      {% endif %}
    </div>
  </div>
  <div class="col-12">
    <hr />
    <h2>Activity Links</h2>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <h3 class="beavers">Beavers</h3>
    <ul>
      <li>
        Activity link 1
      </li>
      <li>
        Activity link 2
      </li>
      <li>
        Activity link 3
      </li>
    </ul>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <h3 class="cubs">Cubs</h3>
    <ul>
      <li>
        Activity link 1
      </li>
      <li>
        Activity link 2
      </li>
      <li>
        Activity link 3
      </li>
    </ul>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <h3 class="scouts">Scouts</h3>
    <ul>
      <li>
        Activity link 1
      </li>
      <li>
        Activity link 2
      </li>
      <li>
        Activity link 3
      </li>
    </ul>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <h3 class="explorers">Explorers and Network</h3>
    <ul>
      <li>
        Activity link 1
      </li>
      <li>
        Activity link 2
      </li>
      <li>
        Hunger Games
      </li>
    </ul>
  </div>
</div>
{% endblock %}
