{% extends "layouts/root.jinja" %}
{% block body %}
{% include "components/header.jinja" %}
<main class="page">
  <div class="container-md">
    <div class="row">
      <div class="col-12 col-lg-9">
        {% block content %}{% endblock %}
      </div>
      <div class="col-12 col-lg-3">
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for type, message in messages %}
            <div class="alert alert-{{ type }}">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="list-group">
          <a href="{{ url_for('manage.index') }}" class="list-group-item">
            Manage
          </a>

          {% if hasManage() %}
          <a href="{{ url_for('manage.pendingShares') }}" class="list-group-item">
            Pending Shares
            <span class="badge badge-pill badge-warning text-white ml-2">{{ pendingCount() }}</span>
          </a>
          {% endif %}

          <a href="{{ url_for('manage.approvedShares') }}" class="list-group-item">
            Approved Shares
            <span class="badge badge-pill badge-success ml-2">{{ approvedCount() }}</span>
          </a>

          {% if hasManage() %}
          <a href="{{ url_for('manage.flaggedShares') }}" class="list-group-item">
            Flagged Shares
            <span class="badge badge-pill badge-danger ml-2">{{ flaggedCount() }}</span>
          </a>
          {% endif %}

          <a href="{{ url_for('manage.starredShares') }}" class="list-group-item">
            Starred Shares
            <span class="badge badge-pill badge-info ml-2">{{ starredCount() }}</span>
          </a>

          {% if hasManage() %}
          <a href="{{ url_for('manage.allShares') }}" class="list-group-item">
            All Shares
            <span class="badge badge-pill badge-primary ml-2">{{ totalCount() }}</span>
          </a>
          {% endif %}

          {% if hasAdmin() %}
          <a href="{{ url_for('manage.users') }}" class="list-group-item">
            Users
          </a>
          {% endif %}

          {% if hasManage() %}
          <a href="{{ url_for('manage.groups') }}" class="list-group-item">
            Groups
          </a>
          {% endif %}

          <a href="{{ url_for('auth.logout') }}" class="list-group-item">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% include "components/footer.jinja" %}
{% endblock %}
