<footer>
  <div class="container-md text-light">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center">
        <p>
          <strong class="wow">Way Out West!</strong> is organised by <a class="text-reset" href="https://bristolcabotscouts.org.uk" target="_blank" rel="noreferrer" title="Cabot District website"><strong>Cabot Scout District</strong>.</a>
        </p>
        <p>
          More information about the organisation of the event, how we collect and use data, and how to get in touch with us can be found on the <a class="text-reset" href="{{ url_for('root.information') }}" title="Organisation information page"><strong>Organisation Information</strong></a> page.
        </p>
        <p>
          <a href="https://bristolcabotscouts.org.uk" target="_blank" rel="noreferrer" title="Cabot District website">
            <img class="cabot-logo" src="{{ url_for('static', filename='cabot-logo.png') }}" alt="Cabot District logo" />
          </a>
        </p>
        <p class="small login-links">
          <a class="text-reset mr-2" href="{{ url_for('group.login') }}" title="Login for Scout Groups">Group Login</a>
          <a class="text-reset ml-2" href="{{ url_for('auth.login') }}" title="Login for organisers">Organiser Login</a>
        </p>
      </div>
    </div>
  </div>
</footer>
