{% macro paginate(query) %}
{% if query.has_prev or query.has_next %}
<nav class="d-none d-lg-block">
  <ul class="pagination">
    {% if query.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(request.endpoint, page=query.prev_num) }}">
        <i class="fas fa-arrow-left"></i>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">
        <i class="fas fa-arrow-left"></i>
      </a>
    </li>
    {% endif %}
    {% for page in query.iter_pages() %}
    {% if page %}
      <li class="page-item {% if page == query.page %}active{% endif %}">
        <a class="page-link" href="{{ url_for(request.endpoint, page=page) }}">
          {{ page }}
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">...</span>
      </li>
    {% endif %}
    {% endfor %}
    {% if query.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(request.endpoint, page=query.next_num) }}">
        <i class="fas fa-arrow-right"></i>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">
        <i class="fas fa-arrow-right"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

<nav class="d-block d-lg-none text-center">
  <ul class="pagination">
    {% if query.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(request.endpoint, page=query.prev_num) }}">
        <i class="fas fa-arrow-left"></i>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">
        <i class="fas fa-arrow-left"></i>
      </a>
    </li>
    {% endif %}
    {% for page in query.iter_pages(left_edge=1, left_current=1, right_edge=1, right_current=2) %}
    {% if page %}
      <li class="page-item {% if page == query.page %}active{% endif %}">
        <a class="page-link" href="{{ url_for(request.endpoint, page=page) }}">
          {{ page }}
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">...</span>
      </li>
    {% endif %}
    {% endfor %}
    {% if query.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(request.endpoint, page=query.next_num) }}">
        <i class="fas fa-arrow-right"></i>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">
        <i class="fas fa-arrow-right"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endmacro %}
