{% macro paginate(query) %}
{% if query.has_prev or query.has_next %}
<nav>
  <ul class="pagination">
    {% if query.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(request.endpoint, page=query.prev_num) }}">
        Previous
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">
        Previous
      </a>
    </li>
    {% endif %}
    {% for page in query.iter_pages() %}
    {% if page %}
      <li class="page-item {% if page == query.page %}active{% endif %}">
        <a class="page-link" href="{{ url_for(request.endpoint, page=page) }}">
          {{ page }}
        </a>
      </li>
    {% elseif %}
      <li class="page-item disabled">
        <span>...</span>
      </li>
    {% endfor %}
    {% if query.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(request.endpoint, page=query.next_num) }}">
        Next
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">
        Next
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endmacro %}
