{% extends "layouts/page.jinja" %}
{% block content %}
<div class="row">
  <div class="col-12  align-self-center">
    <h1>St. George's Virtual Sleepout</h1>
    <p>
      <strong>We’re very excited to announce our next virtual sleepover, which is happening over the weekend of 17<sup>th</sup> and 18<sup>th</sup> April 2021!</strong>
    </p>
    <p>
      We’ll be starting early in the afternoon on Saturday and finishing our programme of planned activities before lunch on the Sunday. We’re inviting all members of Cabot Scout District and our friends from local Girlguiding, including Brownies and Rainbows.
    </p>
    <p>
      The sleepover and activities will be themed around St George, who is the patron saint of Scouting and of course England.
    </p>
    <p>
      <a href="{{ url_for('root.register')}}" class="btn btn-lg btn-primary">Sign up for the camp!</a>
    </p>
  </div>

  <div class="col-12">
    <hr />
  </div>

  <div class="col-12 col-md-6">
    <h3>St. George Trail</h3>
    <p>
      We’ll be encouraging you to create some St. George themed artwork to display on your fence or wall, or in your window for other participants and members of the public to see. For those of you familiar with the <a href="https://www.windowwanderland.com/" target="_blank" rel="nofollow noreferrer">Window Wanderland events</a>, it will be similar to that - but you don’t need to have them lit up (although you can if you wish).
    </p>
    <p>
      Hopefully you’ll be able to plan your Sunday afternoon exercise around looking for the artwork on the trail! We’re looking forward to lots of dragons and knights!
    </p>
    <p>
      Please collect some thin cardboard ahead of the event too (cereal box thickness or a bit less) ready for a special activity on the Saturday!
    </p>
  </div>

  <div class="col-12 col-md-6">
    <h3>Activities</h3>
    <p>
      To go with all this we’re planning lots of activities, including cooking over Zoom, craft activities to make your artwork, stargazing (hopefully real stargazing if we have a clear night), a campfire, Sunday morning keep fit and hopefully getting someone in to run an activity for us - details to be confirmed.
    </p>
    <p>
      It will be great fun, but also give you lots of opportunities to complete parts of your Scouting and Girlguiding badges. There’ll also be the chance to catch-up with other young people in your sections!
    </p>
  </div>

  <div class="col-12 col-md-6">
    <h3>Promise Renewal</h3>
    <p>
      Those in Scouting will be used to renewing their promises at a St George’s Day Parade or Event and as we won’t be able to do a face-to-face event this year, and couldn’t do one last year, we’re inviting you all - in both Scouting and Girlguiding - to take part in renewing your promise in an interactive event on the Sunday from 11.30am ‘til 12.30pm, just in time for lunch.
    </p>
  </div>

  <div class="col-12 col-md-6">
    <h3>And speaking of badges...</h3>
    <p>
      We’ll also be having a badge made for the event which we’ll get sent out to you afterwards! Because everyone loves a badge (except maybe the people doing the sewing…).
    </p>
  </div>

  {#}<div class="col-12 col-md-4">
    <div>
      <p>
        <img class="img img-fluid mt-2 mb-2" alt="Way Out West Camp Badge" src="{{ url_for('static', filename='badge-mockup.png')}}" />
      </p>
    </div>
    <div class="d-xl-none">
      <a class="btn btn-block btn-success" href="{{ url_for('share.new') }}"><i class="fas fa-star pr-2"></i>Share what you're doing</a>
      <a class="btn btn-block btn-danger" href="{{ url_for('root.live') }}"><i class="fas fa-video pr-2"></i>Watch live</a>
      {% if hasGroup() %}
      <a class="btn btn-block btn-info" href="{{ url_for('group.index') }}"><i class="far fa-images pr-1"></i> Group Shares</a>
      {% elif hasLogin() %}
      <a class="btn btn-block btn-info" href="{{ url_for('manage.index') }}"><i class="fas fa-edit"></i> Manage</a>
      {% endif %}
    </div>
  </div>
  <div class="col-12 mb-2">
    <hr />
  </div>
  <div class="col-12 mb-2">
    <h3>Getting ready for camp</h3>
    <p>
      We're looking forward to seeing you all on camp! To help you get ready we've put together a welcome pack to explain how the camp will work and when things are happening. Make sure you take a look at your section's kit list and check you've got everything you need!
    </p>
    <p>
      If you haven't already, make sure you <a href="{{ url_for('root.register') }}">sign up for the camp</a> to receive a camp badge and login links for your section's zoom calls.
    </p>
    <p>
      <a href="{{ url_for('static', filename='activities/welcome-pack.pdf')}}" class="btn btn-success" target="_blank">Download the WOW! Welcome Pack</a>
    </p>
  </div>
  <div class="col-12 mb-2">
    <hr />
  </div>
  <div class="col-12 mb-2">
    <h3>Activity Quick Links</h3>
  </div>
  {% include "activities/links/combined.jinja" %}
  {#}
</div>
{% endblock %}
