{% extends "layouts/page.jinja" %}
{% block content %}
<div class="row">
  <div class="col-12  align-self-center">
    <h1>St. Georges Virtual Weekend</h1>
    <p>We’re very excited to announce our next virtual sleepover, which is happening over the weekend of 17th and 18th April 2021!</p>
    <p>We’ll be starting early in the afternoon on Saturday and finishing our programme of planned activities before lunch on the Sunday.</p>
    <p>We’re inviting the Cabot Scout District and our friends from local Girlguiding, including Brownies and Rainbows.</p>
    <p>The sleepover and activities will be themed around St George, who is the patron saint of Scouting and of course England.</p>
  </div>
  {#}<div class="col-12 col-md-4">
    <div>
      <p>
        <img class="img img-fluid mt-2 mb-2" alt="Way Out West Camp Badge" src="{{ url_for('static', filename='badge-mockup.png')}}" />
      </p>
    </div>
    <div class="d-xl-none">
      <a class="btn btn-block btn-success" href="{{ url_for('share.new') }}"><i class="fas fa-star pr-2"></i>Share what you're doing</a>
      <a class="btn btn-block btn-danger" href="{{ url_for('root.live') }}"><i class="fas fa-video pr-2"></i>Watch live</a>
      {% if hasGroup() %}
      <a class="btn btn-block btn-info" href="{{ url_for('group.index') }}"><i class="far fa-images pr-1"></i> Group Shares</a>
      {% elif hasLogin() %}
      <a class="btn btn-block btn-info" href="{{ url_for('manage.index') }}"><i class="fas fa-edit"></i> Manage</a>
      {% endif %}
    </div>
  </div>
  <div class="col-12 mb-2">
    <hr />
  </div>
  <div class="col-12 mb-2">
    <h2>Getting ready for camp</h2>
    <p>
      We're looking forward to seeing you all on camp! To help you get ready we've put together a welcome pack to explain how the camp will work and when things are happening. Make sure you take a look at your section's kit list and check you've got everything you need!
    </p>
    <p>
      If you haven't already, make sure you <a href="{{ url_for('root.register') }}">sign up for the camp</a> to receive a camp badge and login links for your section's zoom calls.
    </p>
    <p>
      <a href="{{ url_for('static', filename='activities/welcome-pack.pdf')}}" class="btn btn-success" target="_blank">Download the WOW! Welcome Pack</a>
    </p>
  </div>
  <div class="col-12 mb-2">
    <hr />
  </div>
  <div class="col-12 mb-2">
    <h2>Activity Quick Links</h2>
  </div>
  {% include "activities/links/combined.jinja" %}
  {#}
</div>
{% endblock %}
