{% extends "layouts/page.jinja" %}
{% block content %}
<div class="row">
  <div class="col-12 col-md-8 align-self-center">
    <h1>Way Out West!</h1>
    <p>On Saturday 25<sup>th</sup> to Sunday 26<sup>th</sup> of July, Cabot are holding a virtual camp for all young people in the District!</p>
    <p>During the weekend each section will have their own programme of activities to take part in, and there'll also be some shared events on our live stream for everybody to join in with - we'll be releasing the camp programme soon so you'll get to see what's happening during the weekend!</p>
    <p>Each section is representing a different part of the West Country - <strong class="beavers">Cornwall (Beavers)</strong>, <strong class="cubs">Somerset (Cubs)</strong>, <strong class="scouts">Devon (Scouts)</strong> and <strong class="explorers">Bristol (Explorers and Network)</strong> - if you haven't already, make sure you <a href="{{ url_for('root.register') }}">sign up for the camp</a> to receive your section's activity pack and camp badge.</p>
  </div>
  <div class="col-12 col-md-4">
    <div>
      <p>
        <img class="img img-fluid mt-2 mb-2" alt="Way Out West Camp Badge" src="{{ url_for('static', filename='badge-mockup.png')}}" />
      </p>
    </div>
    <div class="d-xl-none">
      <a class="btn btn-block btn-success" href="{{ url_for('share.new') }}"><i class="fas fa-star pr-2"></i>Share what you're doing</a>
      <a class="btn btn-block btn-danger" href="{{ url_for('root.live') }}"><i class="fas fa-video pr-2"></i>Watch live</a>
      {% if hasGroup() %}
      <a class="btn btn-block btn-info" href="{{ url_for('group.index') }}"><i class="far fa-images pr-1"></i> Group Shares</a>
      {% elif hasLogin() %}
      <a class="btn btn-block btn-info" href="{{ url_for('manage.index') }}"><i class="fas fa-edit"></i> Manage</a>
      {% endif %}
    </div>
  </div>
  <div class="col-12 mb-2">
    <hr />
  </div>
  <div class="col-12 mb-2">
    <h2>Getting ready for camp</h2>
    <p>
      We're looking forward to seeing you all on camp! To help you get ready we've put together a welcome pack to explain how the camp will work and when things are happening. Make sure you take a look at your section's kit list and check you've got everything you need!
    </p>
    <p>
      <a href="{{ url_for('static', filename='activities/welcome-pack.pdf')}}" class="btn btn-success" target="_blank">Download the WOW! Welcome Pack</a>
    </p>
  </div>
  {#{% include "activities/links/combined.jinja" %}#}
</div>
{% endblock %}
