{% extends "layouts/page.jinja" %}
{% block title %}Camp Information{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>Camp Information</h1>
  </div>
  <div class="col-12 col-lg-6">
    <h3>What is it?</h3>
    <p><span class="wow">Way Out West</span> is a virtual camp, being organised for all youth sections (Beavers, Cubs, Scouts, Explorers, and Scout Network) in Cabot District, Bristol.</p>

    <p>
      Each section will have their own programme of activities, alongside four live events for all sections to come together and take part in. The live events will be streamed via YouTube, which will also show pictures and videos shared by Young People taking part in the event throughout the weekend.
    </p>

    <h3>Who's organising it?</h3>
    <p>
      The camp is being organised by the Cabot District Team, with support from leaders from across the sections.
    </p>

    <h3>Contact the event</h3>
    <p>
      If you need to get in touch with us about the event, please contact the District Commissioner at <a href="mailto:dc@cabotscouts.org.uk">dc@cabotscouts.org.uk</a>
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <h3>Data usage</h3>
    <p>
      During the camp registration we ask for some basic contact details (an email address, and home address) which will be used to send out information relating to the camp, and for posting the camp badge. These details will only be used for contact about this specific event, and will be destroyed once no longer required.
    </p>
    <p>
      The <span class="wow">Way Out West!</span> website collects some information when Young People submit images and videos ("media") to be displayed as part of the event. Uploading media should be done with the permission of the Young Person's parent/guardian, and we have taken steps to confirm this when media is uploaded.
    </p>
    <p>
      Information and media collected are stored securely, and are only accessible to relevent members of the camp organisation team. Once an upload has been approved, the file, the young person's name, and their comment, will be made accessible to their Scout Group to use and share in line with their own data usage policies. When media is featured in our gallery, only the media file and an accompanying caption will be made publicly available.
    </p>
    <p>
      As part of the upload process we collect the following information: Name, Scout Group, Media File, IP (Internet Protocol) Address, and Time of Upload. Optionally Young People can also submit a comment alongside their file.
    </p>
  </div>
</div>
{% endblock %}
