{% macro highlight(day, minH, minM, maxH, maxM) %}{% if day == now.day and (now.hour > minH or (now.hour == minH and now.min >= minM)) and (now.hour < maxH or ( now.hour == maxH and now.min < maxM)) %} class="now"{% endif %}{% endmacro %}
{% extends "layouts/page.jinja" %}
{% block title %}Camp Programme{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table id="saturday" class="table t-5 text-center timetable">
        <thead>
          <tr>
            <th><h2>Saturday</h2></th>
            <th><h3 class="beavers">Beavers</h3></th>
            <th><h3 class="cubs">Cubs</h3></th>
            <th><h3 class="scouts">Scouts</h3></th>
            <th><h5 class="explorers">Explorers<br />and Network</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr{{ highlight('sat', 10, 0, 10, 15) }}>
            <td>10:00am</td>
            <td colspan="4"><a href="{{ url_for('root.live') }}">Opening Ceremony</a></td>
          </tr>

          <tr{{ highlight('sat', 10, 15, 12, 30) }}>
            <td rowspan="4">Morning Activities</td>
            <td><a href="{{ url_for('activities.beavers') }}#coat-of-arms">Coat of Arms</a></td>
            <td>Coat of Arms</td>
            <td rowspan="4">
              <a href="{{ url_for('activities.scouts') }}#buckaroo">Ten Tors Buckaroo</a>
            </td>
            <td rowspan="4">
              <a href="{{ url_for('activities.explorers') }}#gert-lush">Gert Lush Challenges</a>
            </td>
          </tr>

          <tr{{ highlight('sat', 10, 15, 12, 30) }}>
            <td><a href="{{ url_for('activities.beavers') }}#booklet">Design and Prepare Lunch</a></td>
            <td>Cheddar Cheese Rolling</td>
          </tr>

          <tr{{ highlight('sat', 10, 15, 12, 30) }}>
            <td>
              <a href="{{ url_for('activities.beavers') }}#discover-cornwall">Discover Cornwall</a>
            </td>
            <td>Helter Skelter Game</td>
          </tr>

          <tr{{ highlight('sat', 10, 15, 12, 30) }}>
            <td><a href="{{ url_for('activities.beavers') }}#booklet">Prepare your Paper</a></td>
            <td>Somerset Games</td>
          </tr>

          <tr{{ highlight('sat', 10, 30, 11, 00) }}>
            <td>10:30am - 11:00am</td>
            <td><a href="{{ url_for('activities.beavers') }}#booklet">Zoom - Welcome to Camp</a></td>
            <td colspan="3" class="empty"></td>
          </tr>

          <tr{{ highlight('sat', 12, 00, 12, 30) }}>
            <td>12:00pm - 12:30pm</td>
            <td><a href="{{ url_for('activities.beavers') }}#booklet">Zoom Catchup</a></td>
            <td colspan="3" class="empty"></td>
          </tr>

          <tr{{ highlight('sat', 12, 30, 14, 00) }}>
            <td>12:30pm</td>
            <td colspan="4">Lunch</td>
          </tr>

          <tr{{ highlight('sat', 13, 00, 14, 00) }}>
            <td>1:00pm</td>
            <td colspan="3" class="empty"></td>
            <td><a href="{{ url_for('activities.explorers') }}#escape-rooms">Escape Rooms</a></td>
          </tr>

          <tr{{ highlight('sat', 14, 00, 18, 00) }}>
            <td rowspan="6">Afternoon Activities</td>
            <td colspan="4">Den Building</td>
          </tr>

          <tr{{ highlight('sat', 14, 00, 18, 00) }}>
            <td rowspan="3">
              <a href="{{ url_for('activities.beavers') }}#booklet">Scones for Afternoon Tea</a>
            </td>
            <td>Mug Cake Making</td>
            <td rowspan="2"><a href="{{ url_for('activities.scouts') }}#orange-race">Orange Race</a></td>
            <td rowspan="5"{{ highlight('sat', 14, 00, 18, 00) }}>
              <a href="{{ url_for('activities.explorers') }}#gert-lush">Gert Lush Challenges</a>
            </td>
          </tr>

          <tr{{ highlight('sat', 14, 00, 18, 00) }}>
            <td>Design and Make a Sculpture</td>
          </tr>

          <tr{{ highlight('sat', 14, 00, 18, 00) }}>
            <td>Chocolate Archeology</td>
            <td rowspan="3"><a href="{{ url_for('activities.scouts') }}#beast">BEAST</a></td>
          </tr>

          <tr{{ highlight('sat', 14, 00, 18, 00) }}>
            <td rowspan="2">
              <a href="{{ url_for('activities.beavers') }}#booklet">Washing Up</a>
            </td>
            <td>Flying Dragons</td>
          </tr>

          <tr{{ highlight('sat', 14, 00, 18, 00) }}>
            <td>Carnival Time</td>
          </tr>

          <tr{{ highlight('sat', 16, 00, 16, 30) }}>
            <td>4:00pm - 4:30pm</td>
            <td><a href="{{ url_for('activities.beavers') }}#booklet">Zoom Catchup</a></td>
            <td colspan="3" class="empty"></td>
          </tr>

          <tr{{ highlight('sat', 16, 30, 17, 00) }}>
            <td>4:30pm - 5:00pm</td>
            <td class="empty"></td>
            <td>Zoom Catchup</td>
            <td colspan="2" class="empty"></td>
          </tr>

          <tr{{ highlight('sat', 18, 00, 19, 00) }}>
            <td>6:00pm</td>
            <td colspan="4">Dinner</td>
          </tr>

          <tr{{ highlight('sat', 19, 00, 20, 30) }}>
            <td>7:00pm</td>
            <td colspan="4"><a href="{{ url_for('root.live') }}">Family Quiz</a></td>
          </tr>

          <tr{{ highlight('sat', 20, 30, 21, 30) }}>
            <td>8:30pm</td>
            <td colspan="2" class="empty"></td>
            <td><a href="{{ url_for('activities.scouts') }}#agatha-quiztie">Agatha Quiztie</a></td>
            <td><a href="{{ url_for('activities.explorers') }}#hunger-games">Hunger Games</a></td>
          </tr>
        </tbody>
      </table>

      <table id="sunday" class="table t-5 text-center timetable">
        <thead>
          <tr>
            <th><h2>Sunday</h2></th>
            <th><h3 class="beavers">Beavers</h3></th>
            <th><h3 class="cubs">Cubs</h3></th>
            <th><h3 class="scouts">Scouts</h3></th>
            <th><h5 class="explorers">Explorers<br />and Network</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr{{ highlight('sun', 9, 30, 10, 0) }}>
            <td>9:30am</td>
            <td colspan="4"><a href="{{ url_for('root.live') }}">Wake Up Workout</a></td>
          </tr>

          <tr{{ highlight('sun', 10, 0, 12, 30) }}>
            <td rowspan="3">Morning Activities</td>
            <td>
              <a href="{{ url_for('activities.beavers') }}#bottle-message">Message in a Bottle</a>
            </td>
            <td>Junk Modelling - Famous Landmark</td>
            <td rowspan="2"><a href="{{ url_for('activities.scouts') }}#floaty-boaty">Floaty Boaty</a></td>
            <td rowspan="2"><a href="{{ url_for('activities.explorers') }}#gert-lush">Gert Lush Challenges</a></td>
          </tr>

          <tr{{ highlight('sun', 10, 0, 12, 30) }}>
            <td>
              <a href="{{ url_for('activities.beavers') }}#junk-modelling">Junk Modelling - Castles</a>
            </td>
            <td>Let's get Creative - Postcard Design</td>
          </tr>

          <tr{{ highlight('sun', 10, 0, 12, 30) }}>
            <td colspan="4">Strike Camp</td>
          </tr>

          <tr{{ highlight('sun', 10, 0, 10, 20) }}>
            <td>10:00am - 10:20am</td>
            <td><a href="{{ url_for('activities.beavers') }}#booklet">Zoom Catchup</a></td>
            <td colspan="3" class="empty"></td>
          </tr>

          <tr{{ highlight('sun', 10, 20, 10, 30) }}>
            <td>10:20am - 10:30am</td>
            <td colspan="2" class="empty"></td>
            <td><a href="{{ url_for('activities.scouts') }}#booklet">Zoom Catchup</a></td>
            <td class="empty"></td>
          </tr>

          <tr{{ highlight('sun', 10, 30, 10, 45) }}>
            <td>10:30am - 10:45am</td>
            <td class="empty"></td>
            <td><a href="{{ url_for('activities.cubs') }}#booklet">Zoom Catchup</a></td>
            <td colspan="2" class="empty"></td>
          </tr>

          <tr{{ highlight('sun', 10, 45, 11, 30) }}>
            <td>10:45am - 11:30am</td>
            <td colspan="2" class="empty"></td>
            <td><a href="{{ url_for('activities.scouts') }}#booklet">Kahoot</a></td>
            <td class="empty"></td>
          </tr>

          <tr{{ highlight('sun', 11, 00, 12, 00) }}>
            <td>11:00am - 12:00pm</td>
            <td colspan="3" class="empty"></td>
            <td><a href="{{ url_for('activities.explorers') }}#cabot-council">Cabot Council</a></td>
          </tr>

          <tr{{ highlight('sun', 12, 30, 14, 0) }}>
            <td>12:30pm</td>
            <td colspan="4">Lunch</td>
          </tr>

          <tr{{ highlight('sun', 14, 00, 16, 0) }}>
            <td>2:00pm</td>
            <td colspan="4">Penny Hike</td>
          </tr>
          <tr{{ highlight('sun', 16, 0, 16, 30) }}>
            <td>4:00pm</td>
            <td colspan="4"><a href="{{ url_for('root.live') }}">Closing Ceremony</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
