{% extends "layouts/page.jinja" %}
{% block title %}Camp Information{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>Camp Information</h1>
  </div>
  <div class="col-12 col-lg-4">
    <h2>1</h2>
  </div>
  <div class="col-12 col-lg-4">
    <h2>2</h2>
  </div>
  <div class="col-12 col-lg-4">
    <h2>2</h2>
  </div>
</div>
{% endblock %}
