{% extends "layouts/root.jinja" %}
{% block body %}
{% include "components/header.jinja" %}
<main class="page">
  <div class="container-md">
    {% block content %}{% endblock %}
  </div>
</main>
{% include "components/footer.jinja" %}
{% endblock %}
