<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <script src="{{ url_for('static', filename='app.js')}}"></script>
    {% if self.title() %}<title>{% block title %}{% endblock %} - Way Out West!</title>
    {% else %}<title>Way Out West!</title>{% endif %}
    {% block headjs %}{% endblock %}
  </head>
  <body {% if self.bodyclass() %}class="{% block bodyclass %}{% endblock %}"{% endif %}>
    {% block body %}{% endblock %}
    {% block footjs %}{% endblock %}
  </body>
</html>
<!-- Interested in seeing how this was built? The source code will be released at https://github.com/CabotExplorers/wayoutwest once the event has finished -->
