<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container-md">
      <a class="navbar-brand wow mr-3" href="/">Way Out West!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarLinks">
        <ul class="navbar-nav mr-auto">
          {% for title, link in links %}
            <li class="nav-item{{ ' active' if request.path == link }}">
              <a class="nav-link" href="{{ link }}">{{ title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="d-none d-xl-block">
        <a class="btn btn-success" href="/send"><i class="fas fa-paper-plane pr-2"></i>Send in your pictures</a>
        <a class="btn btn-danger ml-2" href="/live"><i class="fas fa-video pr-2"></i>Watch live</a>
        <!-- <a class="btn btn-info ml-2" href="/manage"><i class="fas fa-edit"></i> Manage <span class="badge badge-danger">1</span></a> -->
      </div>
    </div>
  </nav>
</header>
