Brotli==1.0.9
click==7.1.2
Flask==1.1.2
Flask-Compress==1.9.0
Flask-JSON==0.3.4
Flask-Limiter==1.4
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
flask-talisman==0.7.0
Flask-WTF==0.14.3
greenlet==1.0.0
inflect==5.3.0
itsdangerous==1.1.0
Jinja2==2.11.3
limits==1.5.1
MarkupSafe==1.1.1
python-dotenv==0.16.0
six==1.15.0
SQLAlchemy==1.4.3
Werkzeug==1.0.1
WTForms==2.3.3
