{% extends "layouts/page.jinja" %}
{% block title %}Submit Your Activities{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>Submit Your Activities</h1>
  </div>
  <div class="col-12 mt-2">
    <div class="embed-responsive embed-responsive-1by1">
      <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLScxbfx4j8HRDNv7X5Ky1D0W_8GQOOqK-5iO20jb5xmv7McoEw/viewform"></iframe>
    </div>
</div>
{% endblock %}
