{% extends "layouts/page.jinja" %}
{% block title %}Activities{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>Activities</h1>
  </div>

  <div class="col-12 col-md-8 mb-2">
    <p>
      We have <a href="{{ url_for('root.programme') }}">a programme</a> for the weekend, but this is just a guide - you can take part in the activities whenever you want – if you can’t join the events live you can watch the recordings, we'll add them here when they're ready!
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="opening-ceremony">Opening Ceremony</h2>
    <p>
      <a href="#live">Join us on Zoom</a> for the opening ceremony.
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="dragon-making">Dragon Making</h2>
    <p>
      Follow along on YouTube - we'll add the video here closer to the event!
    </p>
    <h5>You'll need:</h5>
    <ul>
      <li>Any card that can be safely cut (cereal packets or similar)</li>
      <li>Some cardboard tubes (toilet/kitchen roll)</li>
      <li>Masking tape and scissors</li>
      <li>Tin foil</li>
      <li>Tissue paper and PVA glue (to make some papier-mâché)</li>
      <li>Paint (poster/acrylic)</li>
    </ul>
    <hr class="mt-4 mb-4" />

    <h2 id="den-building">Build your Den</h2>
    <p>
      Make your den to sleep in for the night, inside or out. Try it out. Set up your sleeping bag, pillow, sleeping mat and don’t forget your cuddly toy. Who's is the most comfortable - take a snap!
    </p>
    <p>
      If you're short of ideas for your den, here are some plans from IKEA!
    </p>
    <p>
      <a href="https://www.dezeen.com/2020/05/15/ikea-forts-children-lockdown-coronavirus/" target="_blank" rel="noopener" class="btn btn-info">Den Building Blueprints</a>
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="shelter">Shelter Construction and Zoom Chat</h2>
    <p>
      <a href="#live">Join us on Zoom</a> as we construct cardboard shelters and prepare to spend the night in them.
    </p>
    <p>
      <a href="{{ url_for('static', filename='activities/Emergency_Shelters.pdf') }}" target="_blank" class="btn btn-info">Example Shelter Instructions</a>
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="astronomy">Astronomy with Beth</h2>
    <p>
      <a href="#live">Join us on Zoom</a> for this astronomy session with Beth from the County Youth Team.
    </p>
    <h5>You'll need:</h5>
    <ul>
      <li>Cardboard tubes (e.g. toilet roll or kitchen roll), you'll need one for each star</li>
      <li>Black paper or card</li>
      <li>A pin</li>
      <li>A pen</li>
      <li>Elastic bands</li>
      <li>A torch</li>
    </ul>
    <p>
      <a href="{{ url_for('static', filename='activities/Astronomy.pdf') }}" target="_blank" class="btn btn-info">Instructions and Star Templates</a>
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="family-quiz">Family Quiz</h2>
    <p>
      Join us on Kahoot for a family quiz - we'll add the links here closer to the event!
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="campfire">Campfire</h2>
    <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FZ_mr7aHfpQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <hr class="mt-4 mb-4" />

    <h2 id="stargazing">Stargazing with Beth</h2>
    <p>
      <a href="#live">Join us on Zoom</a> for this stargazing session with Beth from the County Youth Team.
    </p>
    <h5>You'll need:</h5>
    <ul>
      <li>Scissors</li>
      <li>Coloured pens or pencils</li>
      <li>Glue stick</li>
      <li>Split pins</li>
      <li>Planisphere templates (print from the booklet below)</li>
      <li>A compass (optional, but useful to se tthe Planisphere more accurately)</li>
    </ul>
    <p>
      <a href="{{ url_for('static', filename='activities/Stargazing.pdf') }}" target="_blank" class="btn btn-info">Planisphere Templates</a>
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="sleep-out">Sleep Pod Sleep Out</h2>
    <p>
      Overnight our Explorers will be sleeping out in homemade emergency shelters, to raise awareness and some money for "Sleep Pod", a charity which produces shelters to be distributed to rough sleepers.
    </p>
    <p>
      <a href="https://www.justgiving.com/crowdfunding/cabot-explorers-sleepout" target="_blank" rel="nofollow noreferrer" class="btn btn-info">Find Out More &amp; Sponsor the Explorers</a>
    </p>
    <p>
      Explorers - if you haven't already joined us on Discord we'll be keeping in touch on there during the evening, and sharing how everybody's getting on:
    </p>
    <p>
      <a href="https://cabotexplorers.org.uk/discord" target="_blank" class="btn btn-info">Get on Discord</a>
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="keep-fit">Keep Fit</h2>
    <p>
      Follow along on YouTube - we'll add the video here closer to the event!
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="knight-talk">Knight Talk</h2>
    <p>
      <a href="#live">Join us on Zoom</a> to find out all about knights and the legendary St. George, from a real medieval knight!
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="zoom-cooking">Cooking on Zoom</h2>
    <p>
      <a href="#live">Join us on Zoom</a> for some group cooking.
    </p>
    <h5>Download the recipes:</h5>
    <p>
      <a href="{{ url_for('static', filename='activities/Mary_Berry_Fork_Biscuits.pdf') }}" target="_blank" class="btn btn-info">Mary Berry Fork Biscuits</a>
      <a href="{{ url_for('static', filename='activities/Pitta_Bread_Pizzas.pdf') }}" target="_blank" class="btn btn-info ml-2">Pitta Bread Pizzas</a>
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="big-event">The Big St. George's Day Event</h2>
    <p>
      <a href="#live">Join us on Zoom</a> for a special St. George's Day event.
    </p>
    <p>
      Try and join wearing your uniform if you can!
    </p>
    <hr class="mt-4 mb-4" />

    <h2 id="artwork-trail">St. George's Artwork Trail</h2>
    <p>
      St. George is the patron saint of Scouting as well as England, and on the weekend of 17<sup>th</sup>/18<sup>th</sup> April, members of Scouting and Girlguiding, mostly in the north west Bristol area will be displaying St. George themed artwork in windows, or on walls and fences for you to find, as part of their virtual sleepover and St. George's Day celebrations.
    </p>
    <p>
      <a href="{{ url_for('root.trail') }}" class="btn btn-info">Follow the Artwork Trail</a>
    </p>

  </div>

  <div class="col-md-4">
    <div class="alert alert-info">
      <h5 class="alert-heading">Activity Pack</h5>
      <p>
        When you have some down time, or if you finish something early, open the activity pack and try out our St. George’s themed activities!
      </p>
      <p>
        <a href="{{ url_for('static', filename='activities/pack.pdf') }}" target="_blank" class="btn btn-block btn-info">Download the pack</a>
      </p>
    </div>

    <div class="alert alert-danger">
      <h5 id="live" class="alert-heading">Live Activities</h5>
      <p>
        All the live activities are being run on Zoom - joining links will be emailed out in advance to everyone who's signed up for the camp.
      </p>
      <p>
        Please make sure young people join using their real name, and include their Group/Unit name or number. Please do not share the Zoom information.
      </p>
    </div>

    <div class="alert alert-success">
      <h5 id="youtube" class="alert-heading">Catchup on YouTube</h5>
      <p>
        If you can't join any of the activities we'll be uploading recordings of them on YouTube afterwards, and linking them here.
      </p>
      <p>
        <a href="https://www.youtube.com/channel/UCPgDtXXXkPsQoKPqVVr_3hg" target="_blank" rel="nofollow noreferrer" class="btn btn-block btn-success">Cabot Scouts on YouTube</a>
      </p>
    </div>

    <div class="alert alert-info mb-0">
      <h5 class="alert-heading">Submit Your Activities</h5>
      <p>
        Tell us which activities you took part in and we can let your leaders know so they can tick off parts of some more Scouting or Girlguiding badges for you.
      </p>
      <p>
        <a href="{{ url_for('root.posteventform') }}" class="btn btn-block btn-info">Fill in the activity form</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
