{% extends "layouts/root.jinja" %}
{% block body %}
{% include "layouts/header.jinja" %}
<main class="page">
  <div class="container-md">
    {% include "components/messages.jinja" %}
    {% block content %}{% endblock %}
  </div>
</main>
{% include "layouts/footer.jinja" %}
{% endblock %}
