<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <script src="{{ url_for('static', filename='app.js')}}" async></script>
    {% if self.title() %}<title>{% block title %}{% endblock %} - St. George's Virtual Sleepover</title>
    {% else %}<title>St. George's Virtual Sleepover</title>{% endif %}
    {% block headjs %}{% endblock %}
  </head>
  <body{% if self.bodyclass() %} class="{% block bodyclass %}{% endblock %}"{% endif %}>
    {% block body %}{% endblock %}
    {% block footjs %}{% endblock %}
  </body>
</html>
