<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='appicon.png') }}" />
    <script src="{{ url_for('static', filename='app.js')}}" async></script>
    {% if self.title() %}<title>{% block title %}{% endblock %} - St. George's Virtual Sleepout</title>
    {% else %}<title>St. George's Virtual Sleepout</title>{% endif %}
    {% block headjs %}{% endblock %}
  </head>
  <body {% if self.bodyclass() %}class="{% block bodyclass %}{% endblock %}"{% endif %}>
    {% block body %}{% endblock %}
    {% block footjs %}{% endblock %}
    <!-- The full source code behind the site will be released at https://github.com/CabotExplorers/wayoutwest once the event has finished! -->
  </body>
</html>
