{% extends "layouts/modal-page.jinja" %}
{% block bodyclass %}dark{% endblock %}
{% block title %}Admin Login{% endblock %}
{% block content %}
<div class="card login-form">
  <div class="card-body">
    <h4 class="card-title">Admin Login</h4>
    <form method="POST" action="{{ url_for('auth.processLogin') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="form-row">
        <div class="form-group col-12">
          <label for="user">Username</label>
          <input required class="form-control" id="user" name="user" type="text" />
        </div>
        <div class="form-group col-12">
          <label for="key">Key</label>
          <input required class="form-control" id="key" name="key" type="text" />
        </div>

        <div class="form-group col-12 mt-2 mb-0">
          {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for type, message in messages %}
            <div class="alert alert-{{ type }} text-center">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
          {% endwith %}
          <button type="submit" class="btn btn-block btn-success">
            <i class="fas fa-sign-in-alt pr-2"></i>Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
