{% extends "layouts/page.jinja" %}
{% block content %}
<div class="row">
  <div class="col-12 col-md-8">
    <h1>St. George's Virtual Sleepover</h1>
    <p>
      <strong>We’re very excited to announce our next virtual sleepover, which is happening over the weekend of 17<sup>th</sup> and 18<sup>th</sup> April 2021!</strong>
    </p>
    <p>
      Welcome to the St. George’s Virtual Sleepover for Cabot District Scouts and our friends from local Girlguiding, including Rainbows and Brownies. We’re so pleased you can join us!
    </p>
    <p>
      St. George was chosen by Baden Powell as the patron saint of Scouting and traditionally Scouts renew their promises at a St. George’s Day event. We will be doing this virtually this year, on the Sunday of our sleepover.
    </p>
    <p>
      We have a <a href="{{ url_for('root.programme') }}">programme for the weekend</a>, but this is just a guide - you can take part in the activities whenever you want – if you can’t join the events live you can watch the recordings afterwards.
    </p>
  </div>

  <div class="col-12 col-md-4 align-self-center">
    <div>
      <p>
        <img class="img img-fluid mt-2 mb-2" alt="Way Out West Camp Badge" src="{{ url_for('static', filename='badge.png')}}" />
      </p>
    </div>
    <div class="d-xl-none">
      {#}<a class="btn btn-block btn-success" href="{{ url_for('share.new') }}"><i class="fas fa-star pr-2"></i>Share what you're doing</a>{#}
      {% if hasGroup() %}
      <a class="btn btn-block btn-info" href="{{ url_for('group.index') }}"><i class="far fa-images pr-1"></i> Group Shares</a>
      {% elif hasLogin() %}
      <a class="btn btn-block btn-info" href="{{ url_for('manage.index') }}"><i class="fas fa-edit"></i> Manage</a>
      {% endif %}
    </div>
  </div>

  <div class="col-12 mb-2">
    <hr />
  </div>

  <div class="col-12 col-lg-8">
    <p>
      You can find all the information, including the timetable, links to our YouTube channel, a pack of activities and the joining instructions on this website. All the useful links and downloads will be added to the timetable.
    </p>
    <p>
      Hopefully, you will also be able to create some St. George's themed artwork to display on your fence or wall or in your window over the weekend. If you can, and haven’t signed up yet, please use the sign-up link above, even if you can’t take part in the rest of the event. Then we can (anonymously!) <a href="{{ url_for('root.trail') }}">add you to our map</a> which we are sharing with the community.
    </p>
    <p>
      Last but definitely not least, we have a badge! These will be produced after the event, for everyone completing our post-event form at the link below (sorry – another form!).  Here you can also let us know which activities you took part in so we can let your leaders know and so that they can tick off parts of some more Scouting or Girlguiding badges for you.
    </p>
    <p>
      <a href="{{ url_for('root.posteventform') }}" class="btn btn-success">Fill in the post-event form</a>
    </p>
  </div>

  <div class="col-12 col-lg-4">
    <div class="alert alert-info mb-0">
      <h5 class="alert-heading">Sign Up For Camp</h5>
      <p>
        If you haven’t signed up yet, you still can, but there’s now limited space left for the live events held over Zoom. We will invite as many people as we can to the calls in separate emails – first come first served, but all those who signed up by 2<sup>nd</sup> April are guaranteed a place.
      </p>
      <p>
        <a href="{{ url_for('root.register')}}" class="btn btn-block btn-info">Sign up</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
