{% extends "layouts/page.jinja" %}
{% block title %}Watch Live!{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 text-center">
    <h5>
      <span class="wow">Way Out West!</span> will be live from 8am on Saturday 25<sup>th</sup> July
    </h5>

    <p>
      If you haven't already, make sure you <a href="{{ url_for('root.register') }}" title="Sign up for the camp">sign up for the camp</a> to receive your sections' activity pack and a camp badge!
    </p>
  </div>
  <div class="col-12 text-center">
    <a class="btn btn-lg btn-danger ml-2" href="https://www.youtube.com/watch?v=ZI2uuGa113M" title="Watch the event livestream" target="_blank" rel="noreferrer">
      <i class="fas fa-video pr-2"></i>Watch live on Youtube
    </a>
  </div>
</div>
{% endblock %}
