{% extends "layouts/page.jinja" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>Sign up for Camp</h1>
    <p>
      Parents/guardians can sign up their Young People for the virtual camp using the form below, or by <a href="https://docs.google.com/forms/d/e/1FAIpQLSfuB-t9S8u44-dTsmj73BHxpMQ6bWbHw1PDlMrmsDk6p3DMEA/viewform" target="_blank" title="Camp sign up form">following this link</a>.
    </p>
    <p>
      If you haven’t signed up yet, you still can, but there’s now limited space left for the live events held over Zoom. We will invite as many people as we can to the calls in separate emails – first come first served, but all those who signed up by 2<sup>nd</sup> April are guaranteed a place.
    </p>
  </div>
  <div class="col-12">
    <div class="embed-responsive embed-responsive-1by1">
      <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSfuB-t9S8u44-dTsmj73BHxpMQ6bWbHw1PDlMrmsDk6p3DMEA/viewform"></iframe>
    </div>
  </div>
</div>
{% endblock %}
