{% extends "layouts/admin.jinja" %}
{% block title %}View Share - Admin{% endblock %}
{% block content %}
<h1>Share #{{ share.id }}</h1>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <td colspan="2">
          {% if share.isImage() %}
          <img class="img img-fluid img-thumbnail" src="{{ url_for("share.get", image=share.file) }}"/>
          {% elif share.isVideo() %}
          <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls>
              <source src="{{ url_for("share.get", image=share.file) }}" />
            </video>
          </div>
          {% endif %}
        </td>
      </tr>

      <tr>
        <td scope="row">Type</td>
        <td>{{ share.type }}</td>
      </tr>

      <tr>
        <td scope="row">Shared</td>
        <td>{{ share.created_at }}</td>
      </tr>

      <tr>
        <td scope="row">Group</td>
        <td>{{ share.group.name }}</td>
      </tr>

      <tr>
        <td scope="row">Submitted by</td>
        <td>{{ share.name }}</td>
      </tr>

      <tr>
        <td scope="row">Comment</td>
        <td>{{ share.comment }}</td>
      </tr>

      <tr>
        <td colspan="2">
          {% if share.featured %}
          <div class="form-row">
            <div class="form-group col-12 col-md-4">
              <form method="POST" action="{{ url_for('manage.unfeatureShare') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="id" value="{{ share.id }}" />
                <button type="submit" class="form-control btn btn-sm btn-secondary">
                  <i class="fas fa-folder-minus mr-2"></i>Unfeature
                </button>
              </form>
            </div>
          </div>
          {% endif %}
          <form method="POST" action="{{ url_for('manage.featureShare') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="id" value="{{ share.id }}" />
            <div class="form-row">
              <div class="form-group col-12">
                <label for="caption">Feature this share</label>
                <textarea class="form-control" id="caption" name="caption" rows="4">{% if share.caption %}{{ share.caption }}{% endif %}</textarea>
              </div>
              <div class="form-group col-12 col-md-4">
                <button type="submit" class="form-control btn btn-sm btn-info">
                  <i class="fas fa-star mr-2"></i>Feature
                </button>
              </div>
            </div>
          </form>
        </td>
      </tr>

      {% if hasAdmin() %}
      <tr>
        <td scope="row">Submitter IP</td>
        <td>{{ share.ip }}</td>
      </tr>
      {% endif %}

      <tr>
        <td scope="row">Status</td>
        <td>
          <h4>
            <span class="badge badge-lg badge-{{ share.statusColour }}">
              {{ share.status }}
            </span>
          </h4>
        </td>
      </tr>

      <tr>
        <td colspan="2" class="text-right">
          <div class="row">
            {% if hasManage() %}
            <div class="col-12 col-md mb-2">
              <form method="POST" action="{{ url_for('manage.approveShare') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="id" value="{{ share.id }}" />
                <button type="submit" class="btn btn-block btn-success">
                  <i class="fas fa-check mr-2"></i>Approve
                </button>
              </form>
            </div>
            {% endif %}

            {% if hasCurate() %}
            <div class="col-12 col-md mb-2">
              <form method="POST" action="{{ url_for('manage.flagShare') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="id" value="{{ share.id }}" />
                <button type="submit" class="btn btn-block btn-danger">
                  <i class="fas fa-flag mr-2"></i>Flag
                </button>
              </form>
            </div>
            {% endif %}

            {% if hasAdmin() %}
            <div class="col-12 col-md mb-2">
              <form method="POST" action="{{ url_for('manage.deleteShare') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="id" value="{{ share.id }}" />
                <input type="hidden" name="return" value="{{ request.referrer }}" />
                <button type="submit" class="btn btn-block btn-dark">
                  <i class="fas fa-times mr-2"></i>Remove
                </button>
              </form>
            </div>
            {% endif %}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
