{% extends "layouts/page.jinja" %}
{% block title %}Gallery{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>Gallery</h1>
    <p>
      Fancy seeing your pictures here? <a href="{{ url_for ('share.new') }}">Share them with us</a> and we might add them to the gallery!
    </p>
  </div>
  {% if shares.items|count > 0 %}
  <div class="col-12">
    <div class="row row-cols-1 row-cols-md-2 px-2">
    {% for share in shares.items %}
      <div class="col mb-3 px-2">
        <div class="card h-100 gallery-card">
          {% if share.isImage() %}
          {# TODO: add lightbox to these #}
          <img src="{{ url_for("share.get", image=share.file) }}" class="card-img-top" />
          {% elif share.isVideo() %}
          <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls>
              <source src="{{ url_for("share.get", image=share.file) }}" />
            </video>
          </div>
          {% endif %}
          <div class="card-body pb-0">
            <p class="card-text">{{ share.caption }}</p>
          </div>
          <div class="card-footer">
            <p class="card-text text-right"><small class="text-muted">{{ share.posted }}</small></p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="col-12">
    {% from "components/paginate.jinja" import paginate %}
    {{ paginate(shares) }}
  </div>
  {% endif %}
</div>
{% endblock %}
