{% extends "layouts/admin.jinja" %}
{% block title %}{{ title }} - Admin{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
{% if shares.items|count == 0 %}
<p>
  No shares in this category
</p>
{% else %}
<table class="table table-hover">
  <tbody>
    {% for share in shares.items %}
    <tr id="share-{{ share.id }}" class="table-{{ share.statusColour }} d-flex">
      <td class="col-10 col-md-10 col-xl-11">
        <a href="{{ url_for("share.get", image=share.file) }}" target="_blank">
          <img class="img img-fluid img-thumbnail" src="{{ url_for("share.get", image=share.file) }}"/>
        </a>
      </td>

      <td class="col-2 col-md-2 col-xl-1">
        <div class="mb-1">
          <form method="POST" action="{{ url_for('manage.starShare') }}">
              <input type="hidden" name="id" value="{{ share.id }}" />
              <button type="submit" class="form-control btn btn-info">
                <i class="fas fa-star"></i>
              </button>
          </form>
        </div>

        <div class="mb-1">
          <form method="POST" action="{{ url_for('manage.approveShare') }}">
              <input type="hidden" name="id" value="{{ share.id }}" />
              <button type="submit" class="form-control btn btn-success">
                <i class="fas fa-check"></i>
              </button>
          </form>
        </div>

        <div class="mb-1">
          <form method="POST" action="{{ url_for('manage.flagShare') }}">
              <input type="hidden" name="id" value="{{ share.id }}" />
              <button type="submit" class="form-control btn btn-danger text-white">
                <i class="fas fa-flag"></i>
              </button>
          </form>
        </div>

        <div class="mb-1">
          <a href="{{ url_for('manage.viewShare', id=share.id) }}" class="btn btn-block btn-primary">
            <i class="fas fa-eye"></i>
          </a>
        </div>

        {% if hasAdmin() %}
        <div class="mb-1">
          <form method="POST" action="{{ url_for('manage.deleteShare') }}">
              <input type="hidden" name="id" value="{{ share.id }}" />
              <button type="submit" class="form-control btn btn-dark">
                <i class="fas fa-times"></i>
              </button>
          </form>
        </div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% from "components/paginate.jinja" import paginate %}
{{ paginate(shares) }}
{% endif %}
{% endblock %}
