{% extends "layouts/admin.jinja" %}
{% block title %}View Share - Admin{% endblock %}
{% block content %}
<h1>Share #{{ share.id }}</h1>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr><td scope="row">Submitted by</td><td>{{ share.name }}</td></tr>
      <tr><td scope="row">Group</td><td>{{ share.group.name }}</td></tr>
      <tr><td scope="row">Comment</td><td>{{ share.comment }}</td></tr>
      <tr><td colspan="2">
        <img class="img img-fluid" src="{{ url_for("share.get", image=share.file) }}"/>
      </td></tr>
      <tr><td colspan="2" class="text-right">
        Buttons
      </td></tr>
    </tbody>
  </table>
</div>
{% endblock %}
