@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&family=Sriracha&family=Lato:wght@400;700;900&display=swap');

// Typography
$font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 1.1rem;
$line-height-base: 1.6;

$primary: #0583C7;
$danger: #EF233C;
$warning: #FFBE0B;
$dark: #2B2D42;

$scout-purple: #7413dc;
$scout-teal: #00a794;
$scout-red: #e22e12;
$scout-pink: #ffb4e5;
$scout-green: #23a950;
$scout-navy: #003982;
$scout-blue: #006ddf;
$scout-yellow: #ffe627;
$scout-section-green: #004851;

$alert-bg-level: -10;
$alert-color-level: 8;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

body {
  background: $primary;
}

body.dark {
  background: $dark;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: $dark;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: $font-size-base;
}

header {
  box-shadow: 1px 1px darken($primary, 3%);
}

main.page {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $gray-100;
  box-shadow: 1px 1px darken($primary, 3%);
}

main.modal-page {
  .go-back {
    color: $white;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 20px;
  }

  .login-form {
    margin-top: -30px;
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1rem;
  text-shadow: 1px 1px darken($primary, 4%);
}

.alert p:last-of-type {
  margin-bottom: 0;
}

.login-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery-card {
  .card-footer {
    background: 0;
    border: 0;
  }
}

/* -- Navbar -- */
.navbar-brand {
  font-size: 2rem;
}

/* -- Branding -- */
.wow {
  font-family: 'Sriracha', cursive;
}

.navbar .wow {
  text-shadow: 1px 1px darken($primary, 8%);
}

.cabot-logo {
  max-width: 175px;
  padding: 15px;
}

.compass {
  color: $primary;
  font-size: 8rem;
  margin: 15px;
}

.beavers {
  color: $scout-blue;
}

.cubs {
  color: $scout-green;
}

.scouts {
  color: $scout-section-green;
}

.explorers {
  color: $scout-navy;
}
