<ul>
  <li>
    <a href="{{ url_for('activities.beavers') }}#booklet">Activity Booklet</a>
  </li>
  <li>
    <a href="{{ url_for('activities.beavers') }}#discover-cornwall">Discover Cornwall</a>
  </li>
  <li>
    <a href="{{ url_for('activities.beavers') }}#coat-of-arms">Coat of Arms</a>
  </li>
  <li>
    <a href="{{ url_for('activities.index') }}#den-building">Den Building</a>
  </li>
  <li>
    <a href="{{ url_for('activities.index') }}#family-quiz">Family Quiz</a>
  </li>
  <li>
    <a href="{{ url_for('activities.beavers') }}#bottle-message">Message in a Bottle</a>
  </li>
  <li>
    <a href="{{ url_for('activities.beavers') }}#junk-modelling">Junk Modelling - Castles</a>
  </li>
  <li>
    <a href="{{ url_for('activities.index') }}#penny-hike">Penny Hike</a>
  </li>
</ul>
