<div class="col-12 mb-2">
  <h2>Camp Activities</h2>
  <p>
    Here you can find out about all the different activities for each section to have a go at during <span class="wow">Way Out West!</span> The suggested times for them are on the <a href="{{ url_for('root.programme') }}">the programme</a>, but feel free to do them whenever, and in whatever order works best for you.
  </p>
  <p>
    <a href="{{ url_for('static', filename='welcome-pack.pdf')}}" class="btn btn-success" target="_blank">Download the WOW! Welcome Pack</a>
  </p>
</div>

<div class="col-12 col-sm-6 col-lg-3">
  <h3><a href="{{ url_for('activities.beavers') }}" class="beavers">Beavers</a></h3>
  {% include "activities/links/beavers.jinja" %}
</div>
<div class="col-12 col-sm-6 col-lg-3">
  <h3><a href="{{ url_for('activities.cubs') }}" class="cubs">Cubs</a></h3>
  {% include "activities/links/cubs.jinja" %}
</div>
<div class="col-12 col-sm-6 col-lg-3">
  <h3><a href="{{ url_for('activities.scouts') }}" class="scouts">Scouts</a></h3>
  {% include "activities/links/scouts.jinja" %}
</div>
<div class="col-12 col-sm-6 col-lg-3">
  <h3><a href="{{ url_for('activities.explorers') }}" class="explorers">Explorers and Network</a></h3>
  {% include "activities/links/explorers.jinja" %}
</div>

<div class="col-12 mt-2">
  <p>
    Don't forget to <a href="{{ url_for('share.new') }}">share your pictures and videos</a> with us so everyone can see what you've been getting up to!
  </p>
</div>
