<div class="col-12 col-sm-6 col-lg-3">
  <h3><a href="{{ url_for('activities.beavers') }}" class="beavers">Beavers</a></h3>
  {% include "activities/links/beavers.jinja" %}
</div>
<div class="col-12 col-sm-6 col-lg-3">
  <h3><a href="{{ url_for('activities.cubs') }}" class="cubs">Cubs</a></h3>
  {% include "activities/links/cubs.jinja" %}
</div>
<div class="col-12 col-sm-6 col-lg-3">
  <h3><a href="{{ url_for('activities.scouts') }}" class="scouts">Scouts</a></h3>
  {% include "activities/links/scouts.jinja" %}
</div>
<div class="col-12 col-sm-6 col-lg-3">
  <h3><a href="{{ url_for('activities.explorers') }}" class="explorers">Explorers and Network</a></h3>
  {% include "activities/links/explorers.jinja" %}
</div>
