<ul>
  <li>
    <a href="{{ url_for('activities.cubs') }}#booklet">Activity Booklet</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#coat-of-arms">Coat of Arms</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#helter-skelter">Helter Skelter</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#junk-modelling">Junk Modelling: Glastonbury Tor</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#somerset-sounds">Somerset Sounds Virtual Tours</a>
  </li>
  <li>
    <a href="{{ url_for('activities.index') }}#den-building">Den Building</a>
  </li>
  <li>
    <a href="{{ url_for('activities.index') }}#family-quiz">Family Quiz</a>
  </li>
  <li>
    <a href="{{ url_for('activities.index') }}#penny-hike">Penny Hike</a>
  </li>
</ul>
