<ul>
  <li>
    <a href="{{ url_for('activities.cubs') }}#booklet">Activity Booklet</a>
  </li>
  <!-- <li>
    <a href="{{ url_for('activities.cubs') }}#cheese-rolling">Cheddar Cheese Rolling</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#helter-skelter">Helter Skelter</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#somerset-sounds">Somerset Sounds</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#mug-cakes">Mug Cakes</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#sculpting">Sculpting</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#chocolate-archeology">Chocolate Archeology</a>
  </li> -->
</ul>
