<ul>
  <li>
    <a href="{{ url_for('activities.explorers') }}#gert-lush">Gert Lush Challenges</a>
  </li>
  <li>
    <a href="{{ url_for('activities.explorers') }}#escape-rooms">Escape Rooms</a>
  </li>
  <li>
    <a href="{{ url_for('activities.index') }}#den-building">Den Building</a>
  </li>
  <li>
    <a href="{{ url_for('activities.index') }}#family-quiz">Family Quiz</a>
  </li>
  <li>
    <a href="{{ url_for('activities.explorers') }}#hunger-games">Hunger Games</a>
  </li>
  <li>
    <a href="{{ url_for('activities.explorers') }}#cabot-council">Cabot Council</a>
  </li>
  <li>
    <a href="{{ url_for('activities.index') }}#penny-hike">Penny Hike</a>
  </li>
</ul>
