<ul>
  <li>
    <a href="{{ url_for('activities.scouts') }}#buckaroo">Ten Tors Buckaroo</a>
  </li>
  <li>
    <a href="{{ url_for('activities.scouts') }}#films">Let's Get Creative: Film Making</a>
  </li>
  <li>
    <a href="{{ url_for('activities.scouts') }}#agatha-quiztie">Agatha Quiztie</a>
  </li>
  <li>
    <a href="{{ url_for('activities.scouts') }}#kahoot">Kahoot</a>
  </li>
  <li>
    <a href="{{ url_for('activities.scouts') }}#floaty-boaty">Floaty Boaty</a>
  </li>
</ul>
