<ul>
  <li>
    <a href="{{ url_for('activities.scouts') }}#booklet">Activity Booklet</a>
  </li>
  <li>
    <a href="{{ url_for('activities.scouts') }}#buckaroo">Ten Tors Buckaroo</a>
  </li>
  <li>
    <a href="{{ url_for('activities.scouts') }}#orange-race">Orange Race</a>
  </li>
  <li>
    <a href="{{ url_for('activities.scouts') }}#beast">BEAST</a>
  </li>
  <li>
    <a href="{{ url_for('activities.scouts') }}#agatha-quiztie">Agatha Quiztie</a>
  </li>
  <li>
    <a href="{{ url_for('activities.scouts') }}#floaty-boaty">Floaty Boaty</a>
  </li>
</ul>
