<ul>
  <li>
    <a href="{{ url_for('activities.scouts') }}#buckaroo">Ten Tors Buckaroo</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#films">Let's Get Creative: Film Making</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#agatha-quiztie">Agatha Quiztie</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#kahoot">Kahoot</a>
  </li>
  <li>
    <a href="{{ url_for('activities.cubs') }}#floaty-boaty">Floaty Boaty</a>    
  </li>
</ul>
