{% extends "layouts/page.jinja" %}
{% block content %}
<!-- <div class="row d-lg-none">
  <div class="col-6">
    <a class="btn btn-success btn-block" href="/send"><i class="fas fa-copy pr-2"></i>Send in your pictures</a>
  </div>
  <div class="col-6">
    <a class="btn btn-danger btn-block" href="/live"><i class="fas fa-video pr-2"></i>Watch Live!</a>
  </div>
</div> -->
<div class="row">
  <div class="col-12">
    <h1>Way Out West</h1>
    <h2>To Do</h2>
    <ul>
      <li>
        Front page layout &amp; content plan
      </li>
      <li>
        Info page layout &amp; copy
      </li>
      <li class="text-strike">
        Registration page layout &amp; copy - links to downloads?
      </li>
      <li>
        Simple auth system - add users, change passwords
      </li>
      <li>
        Thumbnail for live stream
      </li>
      <li>
        Plan out WebRTC bits for live messages
      </li>
    </ul>
  </div>
</div>
{% endblock %}
