{% extends "layouts/page.jinja" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>Sign up for Camp</h1>
    <p>
      Parents/carers can sign up their Young People for <span class="wow">Way Out West!</span> using the form below, or by <a href="https://docs.google.com/forms/d/e/1FAIpQLSeQdg1fOk4yS1eyTHsEOJW63w9GhWZxZFMp8Yb_jtPCetEl9g/viewform" target="_blank">following this link</a>.
    </p>
  </div>
  <div class="col-12">
    <div class="embed-responsive embed-responsive-1by1">
      <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSeQdg1fOk4yS1eyTHsEOJW63w9GhWZxZFMp8Yb_jtPCetEl9g/viewform"></iframe>
    </div>
  </div>
</div>
{% endblock %}
