{% extends "layouts/page.jinja" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>Register for the camp</h1>
    {{ lipsum() }}
  </div>
</div>
{% endblock %}
