{% extends "activities/root.jinja" %}
{% block content %}
  <h1 class="beavers">Beavers</h1>
  {% include "activities/links/beavers.jinja" %}
  <hr />
  <h2 id="booklet">Activity Booklet</h2>

  <hr />
  <h2 id="discover-cornwall">Discover Cornwall</h2>

  <hr />
  <h2 id="coat-of-arms">Coat of Arms</h2>

  <hr />
  <h2 id="den-building">Den Building</h2>

  <hr />
  <h2 id="junk-modelling">Junk Modelling Castle</h2>

  <hr />
  <h2 id="bottle-message">Message in a Bottle</h2>
{% endblock %}
