{% extends "activities/root.jinja" %}
{% block content %}
  <h1 class="beavers">Beavers</h1>
  <ul>
    <li>
      Activity Booklet
    </li>
    <li>
      Coat of Arms
    </li>
    <li>
      Den Building
    </li>
    <li>
      Junk Modelling Castle
    </li>
    <li>
      Message in a Bottle
    </li>
  </ul>
  <hr />
  <h2 id="booklet">Activity Booklet</h2>

  <hr />
  <h2 id="coat-of-arms">Coat of Arms</h2>
{% endblock %}
