{% extends "activities/root.jinja" %}
{% block title %}Beaver Activities{% endblock %}
{% block content %}
  <h1>Beavers</h1>
  {% include "activities/links/beavers.jinja" %}
  <hr class="mt-4" />
  <h2 id="booklet">Activity Booklet</h2>
  <p>
    All of the Beaver activities for the weekend can be found in the Activity Booklet - if you don't already have a copy download one below and have a look through!
  </p>
  <p>
    <a href="{{ url_for('static', filename='activities/beavers.pdf') }}" target="_blank" class="btn btn-success">Download the Beaver activity booklet</a>
  </p>
  <hr class="mt-4" />
  <h2 id="discover-cornwall">Discover Cornwall</h2>
  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/da-p-Wi7Acc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M0PPCaAxNhY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tcpPGPrkS2A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <hr class="mt-4" />
  <h2 id="coat-of-arms">Coat of Arms</h2>
  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_Rf8Hw1ESr8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/urS_sIZWIws" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H9RbLAKmlNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <hr class="mt-4" />
  <h2 id="den-building">Den Building</h2>
  <p>If you're short of ideas for your den, here are some plans from IKEA!</p>
  <a href="https://www.dezeen.com/2020/05/15/ikea-forts-children-lockdown-coronavirus/" target="_blank" rel="noopener" class="btn btn-success">Den Building Blueprints</a>

  <hr class="mt-4" />
  <h2 id="junk-modelling">Junk Modelling Castle</h2>
  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/csY1IW0nNs8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LlaBSv0xAAM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5_IW60xs9cA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RXovzVcXPHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <hr class="mt-4" />
  <h2 id="bottle-message">Message in a Bottle</h2>
  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L0Ws9l2isoI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
{% endblock %}
