{% extends "activities/root.jinja" %}
{% block content %}
  <h1>Cubs</h1>
  {% include "activities/links/cubs.jinja" %}
  <hr />
  <h2 id="booklet">Activity Booklet</h2>


  <hr />
  <h2 id="cheese-rolling">Cheddar Cheese Rolling</h2>
{% endblock %}
