{% extends "activities/root.jinja" %}
{% block title %}Cub Activities{% endblock %}
{% block content %}
  <h1>Cubs</h1>
  {% include "activities/links/cubs.jinja" %}
  <hr class="mt-4" />
  <h2 id="booklet">Activity Booklet</h2>
  <!-- <p>
    All of the Cub activities for the weekend can be found in the activity booklet - if you don't already have a copy download one below and have a look through!
  </p> -->
  <p>
    The Cub activity booklet is on it's way - check back soon to get your copy!
  </p>
  <p>
    <!-- <a href="{{ url_for('static', filename='activities/cubs.pdf') }}" target="_blank" class="btn btn-success">Download the Cub activity booklet</a> -->
  </p>

  <!-- <hr class="mt-4" />
  <h2 id="cheese-rolling">Cheddar Cheese Rolling</h2> -->
  <hr class="mt-4" />
  <h2 id="helter-skelter">Helter Skelter Game</h2>
  <p>
    <a href="{{ url_for('static', filename='activities/cubs/helter-skelter/instructions.pdf') }}" target="_blank" class="btn btn-primary">Helter Skelter Instructions</a>
  </p>
  <p>
    <a href="{{ url_for('static', filename='activities/cubs/helter-skelter/sheets.pdf') }}" target="_blank" class="btn btn-info">Route Sheets</a>
  </p>
  <p>
    <a href="{{ url_for('static', filename='activities/cubs/helter-skelter/answers.pdf') }}" target="_blank" class="btn btn-success">Answers</a>
  </p>

  <hr class="mt-4" />
  <h2 id="junk-modelling">Junk Modelling: Glastonbury Tor</h2>
  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9RywzptKmGk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p>
    <a href="https://glastonbury-tor.360hdtours.co.uk/" target="_blank" rel="noreferrer" class="btn btn-success">Glastonbury Tor 360 Tour</a>
  </p>
  <p>
    <a href="https://en.wikipedia.org/wiki/Glastonbury_Tor" target="_blank" rel="noreferrer" class="btn btn-success">Glastonbury Tor Information</a>
  </p>
{% endblock %}
