{% extends "activities/root.jinja" %}
{% block title %}Cub Activities{% endblock %}
{% block content %}
  <h1>Cubs</h1>
  {% include "activities/links/cubs.jinja" %}
  <hr class="mt-4" />
  <h2 id="booklet">Activity Booklet</h2>
  <!-- <p>
    All of the Cub activities for the weekend can be found in the activity booklet - if you don't already have a copy download one below and have a look through!
  </p> -->
  <p>
    The Cub activity booklet is on it's way - check back soon to get your copy!
  </p>
  <p>
    <!-- <a href="{{ url_for('static', filename='activities/cubs.pdf') }}" target="_blank" class="btn btn-success">Download the Cub activity booklet</a> -->
  </p>

  <!-- <hr class="mt-4" />
  <h2 id="cheese-rolling">Cheddar Cheese Rolling</h2> -->
{% endblock %}
