{% extends "activities/root.jinja" %}
{% block title %}Explorer Activities{% endblock %}
{% block content %}
  <h1>Explorers and Network</h1>
  {% include "activities/links/explorers.jinja" %}
  <hr />
  <h2 id="booklet"></h2>

{% endblock %}
