{% extends "activities/root.jinja" %}
{% block title %}Explorer Activities{% endblock %}
{% block content %}
  <h1>Explorers and Network</h1>
  {% include "activities/links/explorers.jinja" %}
  <hr class="mt-4" />
  <h2 id="discord">Discord</h2>
  <p>
    As with all of our other District Explorer Events, we'll be coordinating things over Discord - if you haven't yet made it onto our server, join using the link below!
  </p>
  <p>
    <a href="https://cabotexplorers.org.uk/discord" target="_blank" class="btn btn-success">Get on Discord</a>
  </p>

  <hr class="mt-4" />
  <h2 id="gert-lush">Gert Lush Challenges</h2>
  <p>
    Alright me lover?! Ark at ee over on the Explorers website for some gert lush challenges all about Brizzle. Laters!
  </p>
  <!-- <p>
    <a href="https://cabotexplorers.org.uk/gert-lush" target="_blank" class="btn btn-info">Gert Lush Challenges!</a>
  </p> -->

  <hr class="mt-4" />
  <h2 id="escape-rooms">Escape Rooms</h2>
  <p>
    It's Unit v Unit as you battle to be the first to free yourselves from the escape room. Join us over on Discord for the zoom login link!
  </p>

  <hr class="mt-4" />
  <h2 id="hunger-games">Hunger Games</h2>
  <p>
    You're on your own this time, as you fight to be the last Explorer/Networker standing - information on how to join will be out soon.
  </p>
  <!-- <p>
    <a href="https://cabotexplorers.org.uk/hunger-games" target="_blank" class="btn btn-success">Hunger Games</a>
  </p> -->

  <hr class="mt-4" />
  <h2 id="cabot-council">Cabot Council</h2>
  <p>
    Help shape the future of Cabot, join us for coffee and chat about all sorts of things - the link to join the call will be on Discord.
  </p>


{% endblock %}
