<div class="col-12">
  <h2>Camp Activities</h2>
  <p>Here you can find some extra information about all the different activites each section can have a go at over the weekend. Have a look at <a href="{{ url_for('root.programme') }}">the programme</a> to see when's the best time to do them, and don't forget to <a href="{{ url_for('share.new') }}">share your pictures and videos</a> to show us what you've been getting up to!</p>
</div>
<div class="col-12 col-sm-6 col-lg-3">
  <h3 class="beavers">Beavers</h3>
  <ul>
    <li>
      Activity Booklet
    </li>
    <li>
      Coat of Arms
    </li>
    <li>
      Den Building
    </li>
    <li>
      Junk Modelling Castle
    </li>
    <li>
      Message in a Bottle
    </li>
  </ul>
</div>
<div class="col-12 col-sm-6 col-lg-3">
  <h3 class="cubs">Cubs</h3>
  <ul>
    <li>
      Cheddar Cheese Rolling
    </li>
    <li>
      Helter Skelter
    </li>
    <li>
      Somerset Sounds
    </li>
    <li>
      Mug Cakes
    </li>
    <li>
      Sculpting
    </li>
    <li>
      Chocolate Archeology
    </li>
  </ul>
</div>
<div class="col-12 col-sm-6 col-lg-3">
  <h3 class="scouts">Scouts</h3>
  <ul>
    <li>
      Ten Tors Buckaroo
    </li>
    <li>
      Lets get creative: film making
    </li>
    <li>
      Agatha Quiztie
    </li>
    <li>
      Kahoot
    </li>
    <li>
      Floaty Boaty
    </li>
  </ul>
</div>
<div class="col-12 col-sm-6 col-lg-3">
  <h3 class="explorers">Explorers and Network</h3>
  <ul>
    <li>
      Film Night?
    </li>
    <li>
      WOW! Challenges
    </li>
    <li>
      Escape Rooms
    </li>
    <li>
      Hunger Games
    </li>
    <li>
      Something Youth Shapey
    </li>
  </ul>
</div>
