{% extends "layouts/root.jinja" %}
{% block body %}
{% include "components/header.jinja" %}
<main class="page">
  <div class="container-md">
    {% include "components/messages.jinja" %}
    <div class="row">
      <div class="col-12 col-lg-9">
        {% block content %}{% endblock %}
      </div>
      <div class="col-12 col-lg-3">
        <div class="list-group">
          <a href="{{ url_for('activities.index') }}" class="list-group-item">
            <strong><i class="fas fa-arrow-left pr-2"></i>All Activities</strong>
          </a>
          <a href="{{ url_for('activities.beavers') }}" class="list-group-item">
            <h4 class="beavers mb-0">Beavers</h4>
          </a>
          <a href="{{ url_for('activities.cubs') }}" class="list-group-item cubs">
            <h4 class="cubs mb-0">Cubs</h4>
          </a>
          <a href="{{ url_for('activities.scouts') }}" class="list-group-item scouts">
            <h4 class="scouts mb-0">Scouts</h4>
          </a>
          <a href="{{ url_for('activities.explorers') }}" class="list-group-item explorers">
            <h4 class="explorers mb-0">Explorers and Network</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% include "components/footer.jinja" %}
{% endblock %}
