{% extends "layouts/root.jinja" %}
{% block body %}
{% include "components/header.jinja" %}
<main class="page">
  <div class="container-md">
    {% include "components/messages.jinja" %}
    <div class="row">
      <div class="col-12 col-lg-9">
        {% block content %}{% endblock %}
      </div>
      <div class="col-12 col-lg-3">
        <div class="list-group">
          <a href="{{ url_for('activities.index') }}" class="list-group-item">
            <strong><i class="fas fa-arrow-left pr-2"></i>All Activities</strong>
          </a>
          <a href="{{ url_for('activities.beavers') }}" class="list-group-item h4 mb-0 beavers">
            Beavers
          </a>
          <a href="{{ url_for('activities.cubs') }}" class="list-group-item h4 mb-0 cubs">
            Cubs
          </a>
          <a href="{{ url_for('activities.scouts') }}" class="list-group-item h4 mb-0 scouts">
            Scouts
          </a>
          <a href="{{ url_for('activities.explorers') }}" class="list-group-item h4 mb-0 explorers">
            Explorers and Network
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% include "components/footer.jinja" %}
{% endblock %}
