{% extends "activities/root.jinja" %}
{% block content %}
  <h1>Scouts</h1>
  {% include "activities/links/scouts.jinja" %}
  <hr class="mt-4" />
  <h2 id="booklet">Activity Booklet</h2>
  <p>
    All of the Scout activities for the weekend can be found in the activity booklet - if you don't already have a copy download one below and have a look through!
  </p>
  <a href="{{ url_for('static', filename='activities/scouts.pdf') }}" target="_blank" class="btn btn-success">Download the Scout activity booklet</a>

  <hr class="mt-4" />
  <h2 id="buckaroo">Ten Tors Buckaroo</h2>
  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4UFW4YlSxsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <hr class="mt-4" />
  <h2 id="orange-race">Orange Race</h2>
  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Cjf9QALFFbw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <hr class="mt-4" />
  <h2 id="beast">BEAST</h2>
  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f8sSYHzpHDU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <hr class="mt-4" />
  <h2 id="agatha-quiztie">Agatha Quiztie</h2>
  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/151aphZlOQo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <hr class="mt-4" />
  <h2 id="floaty-boaty">Floaty Boaty</h2>
  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ehKVVD_X1Is" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

{% endblock %}
