{% extends "layouts/page.jinja" %}
{% block title %}St. George's Trail{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12 mb-2">
    <h2>St. George's Trail</h2>
    <p>
      St. George is the patron saint of Scouting as well as England, and on the weekend of 17<sup>th</sup>/18<sup>th</sup> April, members of Scouting and Girlguiding, mostly in the northwest Bristol area will be displaying St George themed artwork in windows, or on walls and fences for you to find, as part of their virtual sleepover and St George's Day celebrations.
    </p>
    <p>
      Gradually our map will start to fill up with the locations where we'll be displaying artwork. Please make the most of the opportunity to explore the trail that weekend, we hope you enjoy it.
    </p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid=1sOzBrmaIbV7iFE9_LBaLn-tPHfDPbwW-"></iframe>
    </div>
</div>
{% endblock %}
